{erl_opts, [debug_info]}.

{plugins, [rebar_mix]}.

{provider_hooks,
 [{post, [{compile, {mix, consolidate_protocols}}]}]}.

{deps,
 [{localize, "~> 1.0"}]}.

{dialyzer,
 [{warnings, [unmatched_returns, error_handling]},
  {plt_extra_apps, [localize, elixir]}]}.

{ex_doc,
 [{extras, ["README.md", "guides/using-in-erlang.md", "CHANGELOG.md", "LICENSE.md"]},
  {main, "readme"},
  {source_url, "https://github.com/elixir-localize/localize_erl"}]}.

{project_plugins, [rebar3_ex_doc]}.
